.header {
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    height: fit-content;
    width: -webkit-fill-available;
    display: flex;
    background-color: #4CAF50;
    justify-content: center;
}

.qweqwe {
    border-bottom: 2px solid #4CAF50;
    display: flex;
    padding: 16px 110px;
    flex-direction: row;
    align-items: center;
    width: 1400px;
    height: 55px;
}

.nav-bar {
    width: -webkit-fill-available;
    align-content: center;
    text-align: -webkit-center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 10px;
}

a.product:hover,
a.myorder:hover,
a.home:hover {
    font-weight: bolder;
}


.okok {
    display: flex;
    width: 250px;
    height: -webkit-fill-available;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.okok a {
    height: fit-content;
    width: fit-content;
}

.footer {
    height: 15px;
    padding: 10px 0px;
    background-color: #819568;
    color: white;
    font-style: italic;
    text-align: center;
    font-size: small;
}